<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <title th:fragment="title">Update sport</title>

    <div class="container" th:fragment="content">
        <div class="row">
            <form action="" method="post" class="s-hflex-start">
                <input type="hidden" name="id" th:value="${sport.id}" />
                <div class="input-field" style="margin-bottom: 0px;">
                    <input id="name" type="text" name="name" class="validate" style="margin: 0px;" th:value="${sport.name}">
                    <label for="name">Sport Name</label>
                </div>
                <div class="s-vflex-end px10">
                    <button type="submit" class="waves-effect waves-light btn">Confirm</button>
                </div>
            </form>
        </div>
    </div>

</html>